<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-4">
                <div class="row mt-4 sticky-top bg-white">
                    <div class="col">
                        <a class="btn btn-outline-primary border-none" href="/home">
                            <p class="text-center">Home</p>
                        </a>
                    </div>
                    <div class="col border-bottom border-primary">
                        <a class="btn btn-outline-primary border-none" href="/mypost">
                            <p class="text-center">My Post</p>
                        </a>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-primary border-none" href="/liked">
                            <p class="text-center">Liked</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <form onsubmit="tryPostEdit(event)" id="formlogin">
                        <div class="mb-3">
                            <div id="alertInvalid" class="alert alert-danger d-none" role="alert">
                                -
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="hidden" id="idpost" value="<%= post._id %>">
                            <label for="textpost" class="form-label"><h3>Post</h3></label>
                            <textarea type="text" class="form-control" id="textpost" aria-describedby="textpostHelp"><%= post.text %></textarea>
                            <div id="textpostInvalid" class="form-text text-danger d-none">-
                            </div>
                        </div>
                        
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<script>

    function tryPostEdit(e) {
        e.preventDefault();

        clearError();

        const textpost = document.getElementById('textpost').value;
        const idpost = document.getElementById('idpost').value;

        const data = { textpost: textpost };
        console.log(data);

        try {
            fetch(`/post/edit/${idpost}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
            ).then((response) => response.json())
                .then((data) => {
                    console.log('no err')
                    console.log(data)
                    if (!data.errors.length) {
                        // Object.keys(data.errors).length;
                        window.location.href = '/home';
                    } else {
                        data.errors.map((err) => {
                            const invalidFeed = document.getElementById(`${err.param}Invalid`);
                            if (invalidFeed) {
                                invalidFeed.classList.remove('d-none');
                                invalidFeed.textContent = err.msg;
                            }

                        })
                    }
                }).catch((err) => {
                    console.log('errr')
                    console.log(err)
                });
        } catch (error) {
            console.log(error)
        }
    }

    function clearError(params) {
        const invalidFeeds = document.querySelectorAll('input');
        console.log(invalidFeeds);
        invalidFeeds.forEach((node) => {
            const nodeItem = document.getElementById(`${node.id}Invalid`);
            if (nodeItem) {
                nodeItem.classList.remove('d-none');
                nodeItem.classList.add('d-none');
            }
        })
        const alertNode = document.getElementById(`alertInvalid`);
        if (alertNode) {
            alertNode.classList.remove('d-none');
            alertNode.classList.add('d-none');
        }
    }
</script>

</html>